* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden scroll;
  font-size: 62.5%;
}

body {
  color: #000;
  background-color: #fff;
  font-size: 1.6rem;
}

nav ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
