/* GLOBAL */
body {
  font-family: Montserrat, Calibri, system-ui;
  font-weight: lighter;
  color: #888;
}

h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size: 2.5rem;
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.8rem;
}

@media (min-width: 1366px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

figure.om {
  width: 120px;
  height: auto;
  position: absolute;
  top: 0;
  margin: 0 auto;
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}

@media (min-width: 1366px) {
  figure.om {
    width: 150px;
  }
}

/* MAIN */
main {
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}

article {
  padding: 20px;
}

figure.ganesha {
  width: 120px;
  height: 120px;
  float: right;
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 130px;
}

figure.anil {
  width: 80vw;
  max-width: 360px;
  height: auto;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  border: #ccc solid 1px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 8px #ccc;
  transition: 400ms;
}

a.link {
  border-bottom: #888 solid 1px;
}

footer {
  padding: 10px 20px;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}

footer img {
  height: 10px;
}

@media (min-width: 768px) {
  article {
    padding: 3vh 10vw;
  }

  footer {
    padding-bottom: 3vh;
  }
}

@media (min-width: 1366px) {
  main {
    display: grid;
    grid-template-columns: 64vw 36vw;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  article {
    padding: 3vw;
  }

  figure.ganesha {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 20px;
  }

  .header {
    height: auto;
  }

  figure.anil {
    max-width: 30vw;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    width: 99vw;
    padding-bottom: 0;
    font-size: 13px;
  }

  footer img {
    height: 12px;
  }
}

.hidden {
  display: none;
}

/* ANIMATIONS */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
