/* GLOBAL */
body {
  font-family: Montserrat, Calibri, system-ui;
  font-size: 1.6rem;
  font-weight: lighter;
  color: #888;
}

h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1366px) {
  html {
    overflow: hidden;
  }

  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

/* HEADER */
header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

/* MAIN */
main {
  line-height: 3.2rem;
  animation-name: fade-in;
  animation-duration: 1000ms;
}

nav {
  display: flex;
  justify-content: flex-end;
}

figure {
  width: 64vw;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
}

article {
  padding: 20px;
  text-align: center;
}

p.description {
  text-align: justify;
}

table,
th {
  font-weight: lighter;
  border-bottom: #ccc solid 1px;
}

tr.completed {
  color: #ccc;
}

th,
td {
  padding: 10px;
}

td {
  text-align: left;
}

td:nth-child(2n) {
  border-left: #ccc solid 1px;
}

.upper {
  text-transform: uppercase;
}

.btn {
  padding: 10px 20px;
  border: #ccc solid 1px;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0 0 5px #ccc;
  transition: 400ms;
}

address {
  font-style: normal;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  p.description {
    max-width: 75vw;
    margin: 0 auto;
  }
}

@media (min-width: 1366px) {
  main {
    line-height: 3.6rem;
  }

  div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
  }

  nav {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 100%;
  }

  figure {
    max-width: 48vw;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
  }

  th,
  td {
    padding: 20px;
  }
}

/* ANIMATIONS */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
